{{ include header.html }}

<div class="game-holder container">
    <div class="game-view" id="gameListView">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-sm-3"></th> <!-- Join and leave buttons -->
                    <th class="col-sm-3">Name</th>
                    <th class="col-sm-2">Map</th>
                    <th class="col-sm-1">Players</th>
                    <th class="col-sm-1">Spectators</th>
                </tr>
            </thead>
            <tbody id="gameList">
            </tbody>
        </table>
    </div>
</div>

<div class="message-holder">
    <div><div id="messages"></div></div>
    <input type="text" id="messageBox">
</div>


{{ include footer.html }}
<script src="/assets/js/play.js"></script>
{{ include final.html }}