.game-holder {
    width: 800px;
    height: 600px;
    border: 1px solid #000;
    margin: 0 auto;
    overflow-y: auto;
}

.game-holder.fullscreen {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: fixed;
    background-color: #FFF;
}

.message-holder {
    position: relative;
    width: 800px;
    height: 200px;
    border: 1px solid #000;
    margin: 20px auto;
}

.message-holder input {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 30px;
    padding: 0px 5px;
    border: 0px;
    border-top: 1px solid #000;
}

.message-holder > div { /* Outer message-scroll div */
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 32px;
    background-color: #FFF;
    overflow: hidden;
}

.message-holder > div > div { /* Inner message-scroll div */
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0px 5px;
}

.message-holder p {
    margin: 1px;
}

.message-holder p span.message {
    margin-left: 5px;
}

.message-holder p span.label {
    width: 100px!important;
    margin: 1px;
}

.game-view {
    display: none;
}

#gameList p {
    margin-top: 6px;
}